body {
      background-color: #f8f9fa; 
    }
    
    aside {
      min-height: 100vh;
    }

.card-img-top {
  width: 350px;  
  height: 350px; 
  object-fit: cover; 
  border-radius: 40px; 
  background-color: #e9ecef;
}
.card-text {
    max-width:250px;

}


body {
      font-family: Arial, sans-serif;
      background: #f5f5f5;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }

    .pagination {
      display: flex;
      list-style: none;
      gap: 12px;
      align-items: center;
    }

    .pagination a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      padding: 6px 12px;
      border-radius: 50%;
      transition: 0.3s;
    }

    .pagination a:hover {
      background: #ddd;
    }


    .pagination .active {
      background: #d35400;
      color: #fff;
    }


    .arrow {
      font-size: 16px;
      font-weight: bold;
      padding: 6px 10px;
      border-radius: 5px;
    }

    .pagination-container {
        display: flex;
        justify-content: center;
        column-gap: 20px;
}

.button-pagination {
    border-radius: 100%;
    font-weight: bold;
    border: none;
}

.button-pagination:hover {
    background-color: #d35400;
    transition: all 30ms ease-in-out;
}

